.active{
    color:blue;
    font-weight:bold;

}
.active:hover{
    cursor:pointer;
    text-decoration:underline;


}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    background-color:white;
    width:40px;
    height:40px;
    border-radius: 50%;
    color:green;
    
    
}
.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
    font-size: 20px;
    
    
}
.next_pre .swiper-button-next::after,
.next_pre .swiper-button-prev::after {
    font-size: 30px;
}
.darkMode{
    background-color:black;
    color:white
}
.notDarkMode{
    background-color:white;
    color:black;
}